.curio {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 500px;
	/* bring your own prefixes */
	transform: translate(-50%, -25%);

	border: 1px solid darkgrey;
	border-radius: 5px;

	padding: 10px 10px 25px 10px;
}

.curio .game-info {
	margin-top: 20px;
}

.curio-input {
	margin-left: 10px;
}
